@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SFProText';
    src: url('SFProText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SFProText';
    src: url('SFProText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'SFProText';
    src: url('SFProText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

