.create-header{
    font-weight: 500;
    color: var(--font)
}

.wrapper-select{
    display: flex;
    padding: 2px 11px 2px 11px;
    align-items: center;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin-right: 20px;
}

.section-select{
    background-color: transparent;
    font-weight: 600;
    border: none;
    color: var(--font)
}

.options-wrapper{
    flex-wrap: wrap;
    display: flex;
    margin-top: 10px;
}

.post-button{
    border-radius: 10px !important;
    padding: 8px 30px 8px 30px;
    font-weight: 100;
}

.title-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.topic-title-input{
    color: var(--font);
    background-color: var(--highlight-bg);
    font-weight: 400;
    border: 1px solid #d3d3d3;
    padding: 10px;
    border-radius: 10px;
}

.topic-title-input:focus{
    outline: 1px solid #0d65ff;
}

.section-select-label{
    color: var(--font)
}

option{
    color: #000;
}

.label-top{
    color: var(--font)
}

@media only screen and (max-width: 1000px) {
    .wrapper-select, #post-button{
        width: 100%;
        margin-right: 0;
    }
}