.login-btn{
    text-decoration: none !important;
}

#btn-login
{
    text-decoration: none;
}

.dropdown-item{
    color: var(--font);
}

.dropdown-menu{
    border-color: var(--secondary-font);
}

.accountbutton{
    background-color: transparent;
}

.accountbutton:hover{
    background-color: rgba(255, 255, 255, 0.5);
}