#navbar-top{
    background-color: var(--main-red);
}

#header-title{
    font-family: 'SFProDisplay', sans-serif;
    font-weight: 200;
}

#navbar-bottom{
    background-color: var(--secondary-bg);
}

.login-btn, .signup-btn{
    text-decoration: none;
}

.signup-btn{
    color: var(--font)
}

.navbar-section{
    background-color: initial;
}

.navbar-section-item{
    color: var(--secondary-font) !important;
    font-size: 15px;
    font-weight: 400;
    list-style: none;
}

.nav-link{
    cursor: pointer;
    margin-top: 4px;
}
.nav-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--secondary-font);
    transition: width .3s;
}
.nav-link:hover::after{
    width: 100%;
}

.item-aparter{
    width: 2px;
    height: 2px;
    background-color: var(--secondary-font);
    border-radius: 50%;
}

#searchbar::placeholder{
    color: #718096;
    font-weight: 400;
    font-size: 14px;
}

#searchbar{
    border-radius: 50px;
}

.navbar-brand{
    user-select: none;
}

#navbar-bottom{
    background-color: var(secondary-bg);
}

.navbar-section-item{
    background-color: inherit;
    color: var(--font);
}

.item-aparter.dark{
    background-color: var(--font);
}

#navbar-top.dark{
    background-color: #232342;
}

.fa-moon{
    color: #718096;
}

.fa-sun.dark{
    background-color: inherit;
    color: #ffffff;
}

.button{
    width: 50px;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    #navbar-bottom{
        display: none;
    }
}