header {
    z-index: 3;
}

header::-webkit-scrollbar {
    display: none;
}

#navbar-top {
    background-color: var(--main-red);
}

#navbarNavDropdown {
    width: 100%;
    background-color: var(--background);
}

.navbar-toggler {
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.navbar-toggle-icon {
    color: #fff !important;
}

#header-title {
    font-family: 'SFProDisplay', sans-serif;
    font-weight: 300;
}

.navbar-section {
    background-color: initial;
    position: relative;
}

.navbar-section-item {
    color: var(--secondary-font) !important;
    font-size: 15px;
    font-weight: 400;
    list-style: none;
}

.nav-link {
    cursor: pointer;
    margin-top: 4px;
}

.navbar-section-item.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--secondary-font);
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
}

.item-aparter {
    width: 2px;
    height: 2px;
    background-color: var(--secondary-font);
    border-radius: 50%;
}

.searchbar::placeholder {
    color: #718096;
    font-weight: 400;
    font-size: 14px;
}

.searchbar {
    border-radius: 50px;
    width: 240px;
}

#searchbar:focus {
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
}

.navbar-brand {
    user-select: none;
}

#navbar-bottom {
    background-color: var(--secondary-bg);
}

#navbar-top.dark {
    background-color: #232342;
}

.fa-moon {
    color: #718096;
}

.fa-sun.dark {
    background-color: inherit;
    color: #ffffff;
}

.navbar-toggler {
    background: none;
    width: 2rem;
    height: 2rem;
}

.button {
    width: 50px;
    height: 100%;
}

.navbar-toggler {
    width: 35px !important;
    height: 35px !important;
    transition: background-color 0.1s;
}

.navbar-toggler[aria-expanded="true"], .navbar-toggler:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

@media(max-width: 1000px) {
    #navbar-top {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        z-index: 2;
        position: fixed;
        width: 100%;
        top: 0;
        backdrop-filter: blur(2px);
    }
    header {
        max-height: 100vh;
        overflow-y: scroll;
        top: 0;
        width: 100%;
        position: fixed;
    }
    #main {
        margin-top: 50px !important;
    }
    #navbar-bottom {
        display: none;
    }
    .pfp {
        width: 2rem !important;
        height: 2rem !important;
    }
    #logo-img {
        width: 50px;
        margin: 0 10px 0 0 !important
    }
    #header-title {
        font-size: 16px;
    }
}