header{
    z-index: 9999;
    max-height: 100vh;
    overflow-y: scroll;
}

header::-webkit-scrollbar {
    display: none;
}

#navbar-top {
    background-color: var(--main-red);
}

#navbarNavDropdown{
    width: 100%;
    background-color: var(--background);
}

@media(max-width: 400px){
    #navbar-top{
        padding: 0 !important;
    }

    #logo-area{
        justify-content: center;
        flex-direction: column;
    }
    #logo-img{
        margin: 0 !important;
    }
}

.navbar-toggler{
    border: 1px solid rgba(255, 255, 255, 0.6);
}

#burger-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    color: #fff !important;
}

@media (max-width: 1000px) {
    #navbar-top{
        z-index: 2;
        position: fixed;
        width: 100%;
        top: 0;
    }
    header{
        top: 0;
        width: 100% ;
        position: fixed;
    }
    #main{
        margin-top: 100px !important;
    }
}

#header-title {
    font-family: 'SFProDisplay', sans-serif;
    font-weight: 200;
}

#navbar-bottom {
    background-color: var(--secondary-bg);
}

.navbar-section {
    background-color: initial;
}

.navbar-section-item {
    color: var(--secondary-font) !important;
    font-size: 15px;
    font-weight: 400;
    list-style: none;
}

.nav-link {
    cursor: pointer;
    margin-top: 4px;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--secondary-font);
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
}

.item-aparter {
    width: 2px;
    height: 2px;
    background-color: var(--secondary-font);
    border-radius: 50%;
}

#searchbar::placeholder {
    color: #718096;
    font-weight: 400;
    font-size: 14px;
}

#searchbar {
    border-radius: 50px;
}

.navbar-brand {
    user-select: none;
}

#navbar-bottom {
    background-color: var(secondary-bg);
}

.navbar-section-item {
    background-color: inherit;
    color: var(--font);
}

.item-aparter.dark {
    background-color: var(--font);
}

#navbar-top.dark {
    background-color: #232342;
}

.fa-moon {
    color: #718096;
}

.fa-sun.dark {
    background-color: inherit;
    color: #ffffff;
}

.button {
    width: 50px;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    #navbar-bottom {
        display: none;
    }
}