#navbarNavDropdown #sections-col{
    width: 90%;
    max-height: none;
}

#sections-col {
    font-size: 14px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

#sections-col::-webkit-scrollbar{
    display: none;
}

.sections-map,
.section-sub-title,
.section-sub-sub-title,
.section-item {
    color: #718096;
    list-style: none;
    text-decoration: none;
}

.sections-title {
    font-weight: 700;
}

.sections-title,
.section-sub-title,
.section-sub-sub-title,
.section-item {
    color: var(--secondary-font);
}

.section-sub-title {
    font-weight: 700;
    margin-top: 15px;
}

.section-sub-sub-title {
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
}

.section-item {
    font-weight: 300;
    margin-bottom: 3px;
}

.sections-map {
    padding: 0;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes disappear {
    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0;
        transform: translateX(-30px);
    }
}

.sections-map-open {
    animation: appear 0.3s linear;
}

.sections-map-close {
    animation: disappear 0.3s linear;
}

.sections-map-header {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.retract-btn {
    font-size: 0.875rem;
    color: var(--secondary-font);
    font-weight: 400;
    cursor: pointer;
}