.section{
    width: 100%;
    background-color: var(--background);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    user-select: none;
    color: var(--font);
}

.section-top-title{
    color: var(--font)
}
details{
    color: var(--font);
    background-color: var(--secondary-bg) !important;
}

summary{
    font-family: "SFProDisplay", sans-serif;
    color: var(--font);
}

.section-list{
    padding: 0;
}

summary::marker, li::marker{
    content: '';

}

.section-top-title.dark{
    background-color: transparent;
}

.subsection-title{
    font-family: "SFProDisplay", sans-serif;
    font-weight: 300;
    margin: 0;
    color: var(--font);
    text-decoration: none;
    font-size: 18px;
    background-color: transparent;
}

.subsection-title.dark{
    color: var(--font);
}

.section-1{
    background-color: transparent;
}

.section-title{
    font-weight: 300;
    margin: 0;
    font-size: 20px;
}

.item-title{
    font-weight: 300;
    margin-bottom: 0 !important;
}

.section-top-title{
    font-weight: 400;
}

.section-wrapper{
    color: #000;
}
.section-wrapper.dark{
    color: var(--font)
}
