.topic, .section-feed-item{
    width: 100%;
    color: var(--font);
    background-color: var(--secondary-bg);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
}

.topic-title, .recent-topic-title{
    font-weight: 300;
}

.item-title{
    font-weight: 300;
    margin-bottom: 0 !important;
}

.topic-info{
    display: flex;
    background-color: initial;
    color: var(--secondary-font);
    font-size: 13px;
    align-items: center;
}

.topic-runtime, .topic-author, .recent-topic-runtime, .recent-topic-author{
    font-weight: 300;
}

.topic-author-name{
    font-weight: 400;
    margin-right: 6px;
}

.topic-author{
    margin-right: 3px;
}

.topic-info-aparter{
    width: 2px;
    height: 2px;
    background-color: var(--secondary-font);
    border-radius: 50%;
    margin: 0px 10px 0px 10px;
}

.flair{
    color: #eee;
    padding: 2px 18px 2px 18px;
    border-radius: 10px;
    margin: 0px 3px 0px 3px;
    font-size: 10px;
    user-select: none;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

/* >> Flairs <<*/
.flair-Etec{
    background-color: #f55;
}

.flair-Staff{
    background-color: #DD55FF;
}

.flair-Fatec{
    background-color: #55ADFF;
}

.flair-Professor{
    background-color: #FFC555
}