@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&display=swap');
@import url('fonts/SFProDisplay/font.css');
@import url('fonts/SFProText/font.css');

*{
  font-family: 'SFProText', sans-serif;
  transition: 0.1s linear;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'SFProDisplay', sans-serif;
}

:root{
  --background: #eee;
  --secondary-bg: #d9d9d9;
  --font: #000;
  --secondary-font: #718096;
  --main-red: #d43939;
  --highlight-bg: #fff;
}

[data-theme = "dark"]{
  --highlight-bg: #191919;
  --background: #191919;
  --secondary-bg: #2b2b2b;
  --font: #eee;
  --secondary-font: #ccc;
  --main-red: #131313;
}

body{
  background-color: var(--background);
}