@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&display=swap');

*{
  font-family: 'Nunito Sans', sans-serif;
  transition: 0.1s linear;
}

:root{
  --white: #eee;
  --main-red: #d43939;
}

body{
  background-color: var(--white);
}

.dark{
  background-color: #10101d;
}

::-webkit-scrollbar{
  width: 0.5em;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: var(--main-red);
  border-radius: .5em;
}